body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

section {
    padding: 50px;
    max-width: 650px;
    margin: 0 auto;
}

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.calculator-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 90%;
    
    /* min-height: 450px; */
    background-color: #d2d2d2;
    border-radius: 20px;
    padding: 45px 30px;
}

.calculator-box .output {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.calculator-box input {
    width: 95%;
    height: 45px;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 19px;
    text-align: right;
    border: none;
    outline: none;
}

.calBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.calBtnContainer .btn {
    width: 20%;
    background-color: grey;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
    /* height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}